<div class="WAll PT">

	<ul class="ListBlock">
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateA}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch">
							<input type="checkbox" ng-model='StateA'/>
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateB}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch">
							<input type="checkbox" ng-model='StateB'/>
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateB}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch disabled">
							<input type="checkbox"/>
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateC}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch LabelSwitchText">
							<input type="checkbox" ng-model='StateC'/>
							<div class="checkbox"><span></span></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateD}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch LabelSwitchText">
							<input type="checkbox" ng-model='StateD'/>
							<div class="checkbox"><span></span></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateE}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch LabelSwitchBlue">
							<input type="checkbox" ng-model='StateE'/>
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateF}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch LabelSwitchBlue">
							<input type="checkbox" ng-model='StateF'/>
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateG}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch LabelSwitchBlue LabelSwitchText">
							<input type="checkbox" ng-model='StateG'/>
							<div class="checkbox"><span></span></div>
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="ListItem">
			<div class="ItemCon">
				<div class="ItemInner">
					<div class="ItemTitle">
					状态： {{StateH}}
					</div>
					<div class="ItemAfter">
						<label class="LabelSwitch LabelSwitchBlue LabelSwitchText">
							<input type="checkbox" ng-model='StateH'/>
							<div class="checkbox"><span></span></div>
						</label>
					</div>
				</div>
			</div>
		</li>
	</ul>

</div>




















