<div class="WAll PL PR PT">
	<p class="BlockLabel">预载是用SVG动画和CSS3可以很方便地调整大小。可使用2个选项：默认情况下是没有背景，另一个是暗背景，在暗的背景里，添加一个预载白色类。下面是一些例子</p>
	
	<div class="Row">
		<div class="Col25 TC">
			<div>默认</div>
			<span class="Loading"></span>
		</div>
		<div class="Col25 TC"  style="background-color: #222; color:#fff;">
			<div>白色</div>
			<span class="Loading LoadingWhite"></span>
		</div>
		<div class="Col25 TC">
			<div>大号</div>
			<span class="Loading LoadingBig"></span>
		</div>
		<div class="Col25 TC"  style="background-color: #222; color:#fff;">
			<div>白色</div>
			<span class="Loading LoadingWhite LoadingBig"></span>
		</div>
		
	</div>
	<div class="ContentBlockTitle">用 <span class="CO">.progressbar()</span> 可以现在进度条</div>
	<a href="javascript:;" class="Btn BtnBlock" ng-click="Progress(2000)">进度条</a>
	<div class="ContentBlockTitle">用 <span class="CO">.indicator()</span> 可以模态窗口预载</div>
	<a href="javascript:;" class="Btn BtnPrimary BtnBlock" ng-click="Indicator()">打开加载图标</a>
	<div class="ContentBlockTitle">用 <span class="CO">.loading()</span> 可以模态窗口预载</div>
	<a href="javascript:;" class="Btn BtnPrimary BtnBlock" ng-click="Loading()">正在加载</a>
	<a href="javascript:;" class="Btn BtnPrimary BtnBlock"  ng-click="Loadings()">自定义标题</a>
	<p class="BlockLabel"> </p>
	

</div>




















